@import "../../utils/variables";

.movies {
  width: 100%;
  @include flexcenter;
  margin-bottom: 68px;
  &__container {
    @include flexcenter;
    flex-direction: column;
    width: calc(100% - 140px);
    max-width: 1280px;
  }
}

@media screen and (max-width: 768px) {
  .movies {
    margin-bottom: 104px;
  }

  .movies__container {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 735px) {
  .movies__container {
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 320px) {
  .movies {
    margin-bottom: 82px;
  }
}
