@import "../../utils/variables";

.profile {
  @include flexcenter;
  width: 100%;
  height: calc(100vh - 74px);
  &__container {
    margin: auto;
    width: 410px;
    position: relative;
    background: #fff;
    margin-top: 74px;
  }
  &__inputs-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    height: 31px;
    padding-bottom: 10px;
    &:last-of-type {
      display: flex;
      justify-content: space-between;
      border-bottom: none;
      height: 31px;
      padding-top: 6px;
    }
  }
  &__title {
    margin-bottom: 112px;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input-name {
    margin-bottom: 11px;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
  &__inputs {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: none;
  }
  &__input {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.21px;
    color: #000000;
    text-align: right;
    border: none;
    max-width: 358px;
    min-height: 30px;
    outline: none;
    padding: 0;
    &:focus {
      color: #212529;
      background-color: #fff;
      border-color: #bdbdbd;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }
  }
  &__input-error {
    margin-bottom: 24px;
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__input-error_active {
    color: #ff3055;
  }
  &__input-error_active-bottom {
    color: #ff3055;
    text-align: center;
    margin: 4px;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__submit {
    width: 26%;
    color: #000;
    background: transparent;
    border: none;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 202px;
    &:hover {
      border-radius: 3px;
      background: #e9eaf0;
      @include forhover;
    }
    &_disabled {
      opacity: 0.5;
    }
  }
  &__exit {
    text-decoration: none;
    color: #ff3055;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    &:hover {
      @include forhover;
    }
  }
}

@media screen and (max-width: 768px) {
  .profile {
    &__container {
      margin: auto;
      width: 410px;
      position: relative;
      background: #fff;
      margin-top: 236px;
    }
    &__title {
      margin-bottom: 87px;
    }
    &__submit {
      margin-top: 191px;
    }
  }
}

@media screen and (max-width: 500px) {
  .profile {
    align-items: normal;
    &__container {
      margin-top: 70px;
      margin-left: 30px;
      margin-right: 30px;
    }
    &__form {
      width: 100%;
    }
    &__submit {
      width: 260px;
      margin-top: 360px;
      font-size: 12px;
    }
    &__logo {
      margin-bottom: 50px;
    }
    &__title {
      margin-bottom: 70px;
    }
    &__input-error {
      margin: 0px;
    }
    &__exit {
      font-size: 12px;
    }
    &__smaller-text {
      font-size: 12px;
    }
  }
}
