@import "../../utils/variables";

.navigation {
  margin-left: 60px;
  height: 22px;

  &__link {
    color: #fff;
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;

    &:hover {
      @include forhover;
    }

    &_colored {
      color: #000;
    }

    &_active {
      border-bottom: 1px solid #000000;
      font-weight: 900;
    }

    &:first-child {
      margin-right: 16px;
    }
  }
}
