@import "../../utils/variables";

.filtercheckbox {
  display: flex;
  align-items: center;
  margin-top: 32px;

  &__input {
    display: none;
  }

  &__input:checked + span {
    background-image: url(../../images/check.svg);
  }

  &__check {
    width: 36px;
    height: 20px;
    background-image: url(../../images/check-check.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 0px;

    &:hover {
      @include forhover;
    }
  }

  &__text {
    margin-left: 16px;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }

  @media screen and (max-width: 768px) {
    &__check {
      order: 1;
      margin-left: 0px;
    }

    justify-content: flex-end;
    margin-top: 25px;

    &__text {
      margin-right: 16px;
      margin-left: 0px;
    }
  }

  @media screen and (max-width: 320px) {
    &__text {
      font-size: 11px;
    }

    justify-content: center;
    margin-top: 36px;
  }
}
