@import "../../utils/variables";

.sidebar {
  display: flex;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  justify-content: flex-end;
  left: 0;
  top: 0;
  transition: visibility 0.5s linear, opacity 0.5s linear;

  &__menu {
    display: flex;
    position: relative;
    width: 68%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }

  &__exit {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 27.44px;
    right: 26.44px;
    background: transparent;
    border: none;
    background-position: center;
    background-image: url(../../images/close.svg);
    &:hover {
      @include forhover;
    }
  }

  &__title {
    margin-top: 144px;
    margin-bottom: 28px;
    color: #000;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid #000;
      @include forhover;
    }
  }

  &__account {
    position: absolute;
    width: 100px;
    height: 32px;
    bottom: 90px;
    @include flexcenter;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    color: #000;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid #000;
      @include forhover;
    }
  }

  &__wrapper {
    @include flexcenter;
    margin-left: 7px;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    background: #f9f9f9;
  }
}

@media screen and (max-width: 500px) {
  .sidebar__menu {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .sidebar__exit {
    top: 19.44px;
    right: 18.44px;
  }

  .sidebar__account {
    top: 703px;
  }

  .sidebar__logo {
    margin-left: 8px;
  }
}
