.techs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #f5f5f5;

  &__title {
    margin: 0;
    padding-bottom: 23px;
    display: flex;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    border-bottom: 1px solid #000;
  }

  &__subtitle {
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    margin: 100px 70px;
  }

  &__technologie {
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 60px;
    border-radius: 10px;
    background: #e8e8e8;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
  }

  &__description {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__text {
    margin-top: 26px;
    max-width: 456px;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.56px;
  }

  &__technologies {
    margin: 0;
    padding: 0;
    margin-top: 94px;
    display: flex;
    text-align: center;
    justify-content: center;
    list-style-type: none;
  }
}

@media screen and (max-width: 768px) {
  .techs {
    &__container {
      margin: 90px 50px;
      margin-bottom: 85px;
    }

    &__text {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.48px;
    }

    &__description {
      margin-top: 78px;
    }

    &__technologie {
      width: 84px;
      height: 57px;
      font-size: 12px;
      letter-spacing: -0.48px;
    }

    &__technologies {
      flex-wrap: wrap;
      margin-top: 77px;
    }
  }
}

@media screen and (max-width: 500px) {
  .techs {
    background-color: white;
    &_container {
      margin: 60px 17px;
      margin-top: 58px;
    }

    &_title {
      padding-bottom: 28px;
      font-size: 18px;
      letter-spacing: -0.72px;
    }

    &_subtitle {
      font-size: 30px;
      line-height: normal;
      letter-spacing: -1.2px;
    }

    &__text {
      margin-top: 24px;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: -0.44px;
    }

    &__technologie {
      width: 84px;
      height: 57px;
    }

    &__technologies {
      justify-content: normal;
      max-width: 190px;
      margin-top: 45px;
      margin-left: auto;
      margin-right: auto;
    }

    &__description {
      margin-top: 60px;
    }
  }
}
