@import "../../utils/variables";

.login {
  @include flexcenter;
  width: 100%;
  height: 100vh;
  &__container {
    margin: auto;
    width: 396px;
    position: relative;
    background: #fff;
    margin-top: 70px;
  }
  &__img {
    margin-bottom: 40px;
  }
  &__main-title {
    margin-bottom: 40px;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
  }
  &__lable {
    color: #a0a0a0;
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  &__inputs {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: none;
  }
  &__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    min-height: 21px;
    outline: none;
    padding: 0;
    padding-bottom: 9px;
    &:focus {
      background-color: #fff;
      border-color: #bdbdbd;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25), 0 0 0 0.25rem #2be080;
    }
    // &_errror-active {
    //   color: #ff3055;
    // }
  }
  &__input-error {
    height: 20px;
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 3px;
    color: #ff3055;
    &:last-of-type {
      margin-bottom: 0px;
    }
  }
  &__submit-btn {
    width: 396px;
    height: 45px;
    color: #fff;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: transparent;
    border: none;
    border-radius: 3px;
    background: #3456f3;
    margin-top: 200px;
    margin-bottom: 16px;
    &:hover {
      @include forhover;
      border-radius: 3px;
      background: #3456f3;
    }
  }
  &__text {
    color: #a0a0a0;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  &__reg-link {
    text-decoration: none;
    color: #3456f3;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &:hover {
      @include forhover;
    }
  }
}

@media screen and (max-width: 768px) {
  .login__container {
    margin-top: 232px;
  }
}

@media screen and (max-width: 500px) {
  .login {
    align-items: normal;
    &__container {
      margin: 0px;
      display: flex;
      flex-direction: column;
      margin-top: 56px;
      align-items: center;
      width: 260px;
    }
    &__signin-form {
      width: 100%;
    }
    &__submit-btn {
      width: 260px;
      margin-top: 288px;
      font-size: 12px;
    }
    &__img {
      margin-bottom: 50px;
    }
    &__main-title {
      margin-bottom: 80px;
    }
    &__input-error {
      margin: 0px;
    }
    &__text {
      font-size: 12px;
    }
    &__reg-link {
      font-size: 12px;
    }
  }
}
